.container {
  max-width: 400px; /* Делаем узким как на скрине */
  margin: 80px auto;
  padding: 20px;
  font-family: sans-serif;
}

.main_info {
  text-align: left;
  margin-bottom: 30px;
}

.main_img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.price_block {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.price {
  font-size: 22px;
  font-weight: 600;
}

.old_price {
  color: #a1a1a1;
  text-decoration: line-through;
  font-size: 18px;
}

/* СЕТКА ХАРАКТЕРИСТИК */
.specs_grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Ровно две колонки */
  gap: 12px;
}

.card {
  background-color: #f6f6f6;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
  font-size: 11px;
  color: #868686;
  margin: 0;
}

.val {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}