.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.title {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 32px;
}


.arrivals {
    background: white;
    padding-block: 56px;
}