.card {
    background: #F6F6F6;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    .like_area {
            display: flex;
            width: 100%;
            justify-content: flex-end;
        .btn {
            background: none;
            border: none;
            padding: 2px;
            width: 28px;
            height: 28px;
            margin-left: 120px;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.price {
    font-weight: 700;
    font-size: 22px;
}

.title {
    font-weight: 500;
    font-size: 18px;
}